body {
  background-color: red;
}

h1#trumpstatus {
  text-align: center;
  margin-top: 15%;
  text-transform: uppercase;
  font-size: 120px;
}

p#trumpdetail {
  text-align: center;
  /*font-weight: bold;*/
  font-size: 60px;
}

